* {
	box-sizing: border-box;
}

html, body, div#container {
	height: 100%;
}

html{
	font-family: "m+1medium";
}

body{
	background-color: rgb(153,204,255);
	margin: 0;
	padding: 0;
}

div#container{
	position: relative;
	height: auto;
	height: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
}

div#header-bk{
	background-image: url(../img/header.png);
	background-repeat: repeat-x;
	background-size: 1000px;
	width: 100px;
	height: 100px;
}

div#header{
	color: white;
	font-family: "m+1medium", serifi;
}

div#description{
	width: calc(100% - 20px);
	padding-top: 15px;
	padding-left: 20px;
	text-align: left;
	font-size: 120%;
	position: absolute;
}

div#links{
	width: calc(100% - 20px);
	padding-top: 10px;
	text-align: right;
	font-size: 200%;
	position: absolute;
}

a{
	color: white;
	text-decoration: none;
}

div#main{
	background-image: url("../img/background.png");
	background-repeat: repeat-x;
	background-size: contain;
	background-position: center;
	width: 100%;
	height: 100px;
	margin: 0;
	padding: 0;
	position: relative;
}

div#main_cloud{
	background-image: url("../img/background_cloud.png");
	background-repeat: repeat-x;
	background-size: contain;
	background-position: center;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	position: absolute;
}

div#main_bird{
	background-image: url("../img/background_bird.png");
	background-repeat: repeat-x;
	background-size: contain;
	background-position: center;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	position: absolute;
}

div#main_in{
	width: 100px;
	height: 100%;
	margin: auto;
	top: 0;
	bottom: 0;

	position: relative;
}

div#titlelogo{
	background-image: url("../img/titlelogo.png");
	background-repeat: no-repeat;
	background-size: 45%;
	background-position: center;
	width: 100%;
	height: 40%;
	position: absolute;
	top: 10%;
}

div#registerform{
	background-image: url("../img/registerform.png");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	width: 40%;
	height: 30%;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
}

input#name{
	background-position: center;
	width: 70%;
	height: 17%;
	font-family: "m+1medium";
	font-size: 1.0rem;
	text-align: center;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10;
	position: absolute;
	top: 37%;
	margin: auto;
	left: 0;
	right: 0;
	overflow: hidden;
	outline : none;
}

button#register_on{
	padding: 0;
	margin: auto;
	border: 0;
	background: url("../img/registerbutton_on.png");
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
	width: 70%;
	height: 40%;
	position: absolute;
	bottom: 10%;
	left: 0;
	right: 0;
	overflow: hidden;
	outline: none;
}

button#register_off{
	padding: 0;
	margin : auto;
	border : 0;
	background:url("../img/registerbutton_off.png");
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
	width: 70%;
	height: 40%;
	cursor: pointer;
	position: absolute;
	bottom: 10%;
	left: 0;
	right: 0;
	overflow: hidden;
	outline: none;
}

div#singleplayform{
	background-image: url("../img/singleplayform.png");
	background-repeat: no-repeat;
	background-size: 100%;
	width: calc(100% *350 / 1500);
	height: calc(100% * 400 / 1000);
	position: absolute;
	top: 30%;
	left: 25%;
}

div#multiplayform{
	background-image: url("../img/multiplayform.png");
	background-repeat: no-repeat;
	background-size: 100%;
	width: calc(100% *350 / 1500);
	height: calc(100% * 400 / 1000);
	position: absolute;
	top: 30%;
	right: 25%;
}

button.ok{
	background: url("../img/okbutton.png");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	width: calc(100% * 200 / 350);
	height: calc(100% * 75 / 400);
	position: absolute;
	top: 69%;
	margin: auto;
	left: 1%;
	right: 0;
	border: 0;
	cursor: pointer;
	overflow: hidden;
	outline: none;
}

div#singleplayicon{
	background-image: url("../img/singleplayicon.png");
	background-repeat: no-repeat;
	background-size: 100%;
	width: calc(100% * 200 / 1500);
	height: calc(100% * 200 / 1000);
	position: absolute;
	top: 22%;
	margin: auto;
	left: 0;
	right: 0;
}

div#timeattackform{
	background-image: url("../img/timeattackform.png");
	background-repeat: no-repeat;
	background-size: 100%;
	width: calc(100% * 750 / 1500);
	height: calc(100% * 150 / 1000);
	position: absolute;
	top: 43%;
	margin: auto;
	left: 0;
	right: 0;
}

div#scoreattackform{
	background-image: url("../img/scoreattackform.png");
	background-repeat: no-repeat;
	background-size: 100%;
	width: calc(100% * 750 / 1500);
	height: calc(100% * 150 / 1000);
	position: absolute;
	top: 58%;
	margin: auto;
	left: 0;
	right: 0;
}

div#multiplayicon{
	background-image: url("../img/multiplayicon.png");
	background-repeat: no-repeat;
	background-size: 100%;
	width: calc(100% * 200 / 1500);
	height: calc(100% * 200 / 1000);
	position: absolute;
	top: 22%;
	margin: auto;
	left: 0;
	right: 0;
}

div#battleform{
	background-image: url("../img/battleform.png");
	background-repeat: no-repeat;
	background-size: 100%;
	width: calc(100% * 750 / 1500);
	height: calc(100% * 150 / 1000);
	position: absolute;
	top: 43%;
	margin: auto;
	left: 0;
	right: 0;
}

div#raceform{
	background-image: url("../img/raceform.png");
	background-repeat: no-repeat;
	background-size: 100%;
	width: calc(100% * 750 / 1500);
	height: calc(100% * 150 / 1000);
	position: absolute;
	top: 58%;
	margin: auto;
	left: 0;
	right: 0;
}

button.ok2{
	background: url("../img/okbutton.png");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	width: calc(100% * 200 / 750);
	height: calc(100% * 75 / 150);
	position: absolute;
	top: 24.8%;
	left: 64%;
	margin: auto;
	border: 0;
	cursor: pointer;
	overflow: hidden;
	outline: none;
}

div#timeattackicon{
	background-image: url("../img/timeattackicon.png");
	background-repeat: no-repeat;
	background-size: 100%;
	width: calc(100% * 200 / 1500);
	height: calc(100% * 200 / 1000);
	position: absolute;
	top: 22%;
	margin: auto;
	left: 0;
	right: 0;
}

div#settingform{
	background-image: url("../img/settingform.png");
	background-repeat: no-repeat;
	background-size: 100%;
	width: calc(100% * 450 / 1500);
	height: calc(100% * 325 / 1000);
	position: absolute;
	top: 43%;
	margin: auto;
	left: 0;
	right: 0;
}

input#wordnum{
	background-position: center;
	width: 40%;
	height: 17%;
	font-family: "m+1medium";
	font-size: 1.0rem;
	text-align: center;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10;
	position: absolute;
	top: 39%;
	margin: auto;
	left: 0;
	right: 0;
	overflow: hidden;
	outline : none;
}

div#scoreattackicon{
	background-image: url("../img/scoreattackicon.png");
	background-repeat: no-repeat;
	background-size: 100%;
	width: calc(100% * 200 / 1500);
	height: calc(100% * 200 / 1000);
	position: absolute;
	top: 22%;
	margin: auto;
	left: 0;
	right: 0;
}

div#settingform2{
	background-image: url("../img/settingform2.png");
	background-repeat: no-repeat;
	background-size: 100%;
	width: calc(100% * 450 / 1500);
	height: calc(100% * 325 / 1000);
	position: absolute;
	top: 43%;
	margin: auto;
	left: 0;
	right: 0;
}

input#limittime{
	background-position: center;
	width: 40%;
	height: 17%;
	font-family: "m+1medium";
	font-size: 1.0rem;
	text-align: center;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10;
	position: absolute;
	top: 39%;
	margin: auto;
	left: 0;
	right: 0;
	overflow: hidden;
	outline : none;
}

button.setting{
	background: url("../img/readybutton.png");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	width: calc(100% * 300 / 450);
	height: calc(100% * 100 / 325);
	position: absolute;
	top: 57%;
	margin: auto;
	left: 0;
	right: 1%;
	border: 0;
	cursor: pointer;
	overflow: hidden;
	outline: none;
}

div#resultform{
	background-image: url("../img/resultform.png");
	background-repeat: no-repeat;
	background-size: 100%;
	width: calc(100% * 800 / 1500);
	height: calc(100% * 800 / 1000);
	position: absolute;
	top: 10%;
	margin: auto;
	left: 0;
	right: 0;
}

div#rankingboard{
	background-color: rgb(255,170,70);
	background-position: center;
	width: 80%;
	height: 68%;
	position: absolute;
	top: 0%;
	bottom: 3%;
	left: 0;
	right: 0;
	margin: auto;
	overflow-y: scroll;
	-moz-box-shadow:    0 0 10px 5px rgba(0,0,0,0.2) inset;
	-webkit-box-shadow: 0 0 10px 5px rgba(0,0,0,0.2) inset;
	-o-box-shadow:      0 0 10px 5px rgba(0,0,0,0.2) inset;
	-ms-box-shadow:     0 0 10px 5px rgba(0,0,0,0.2) inset;
}

div#ranking{
	color: white;
	font-family: m+1medium;
	text-align: center;
	width: 90%;
	height: 80%;
	position: absolute;
	top: 0%;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

div#myscore{
	background: url("../img/myscore.png");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	font-size: 125%;
}

button#back{
	background: url("../img/backbutton.png");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	width: calc(100% * 200 / 800);
	height: calc(100% * 75 / 800);
	position: absolute;
	top: 84.5%;
	margin: auto;
	left: 0;
	right: 1%;
	border: 0;
	cursor: pointer;
	overflow: hidden;
	outline: none;
}

div#footer-bk{
	background-color: rgb(153,153,153);
	width: 100%;
	height: 100px;
}

div#footer{
	text-align: center;
	color: white;
	margin: auto;
	padding-top: 20px;
}

#game-scene {
	height: 100%;
}

.animsition, #js-main-container {
	height: 100%;
}

#js-main-container {
	position: relative;
}
.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.clearfix:after {
	content: '';
	display: block;
	clear: both;
}

.container {
	height: 100%;
	position: relative;
	padding: 24px 56px 40px 56px;
}

.game-header {
	position: relative;
	height: 84px;
	z-index: 1;
}

.game-header-shadow {
	position: absolute;
	top: 0;
	left: 0;
	background: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 80px);
	width: 100%;
	height: 80px;
}

.game-map {
	bottom: 0;
	width: 100%;
	height: calc(100% - 84px);
	background-color: #ddd;
	box-shadow: 0 4px 8px #888;
}

.game-answers {
	position: absolute;
	top: 57px;
	width: calc(100% - 116px);
	height: 58px;
	margin: 0;
	padding: 0;
	text-align: right;
	list-style-type: none;
	letter-spacing:-0.4em;
	white-space: nowrap;
	overflow: auto;
}

.game-answers > li {
	display: inline-block;
	position: relative;
	margin-left: 24px;
	height: 54px;
	padding: 14px 24px;
	border-radius: 27px;
	font-size: 24px;
	letter-spacing: normal;
	line-height: 1;
	background-color: #fff;
	box-shadow: 0px 4px 0 #aaa;
	color: rgba(0, 0, 0, 0.8)
}

.game-answers > li:before {
	display: inline-block;
	position: absolute;
	content: '';
	left: 100%;
	top: 24px;
	width: 24px;
	height: 8px;
	border-radius: 2px;
	background-color: #663800;
}

.game-answers > li:last-child {
	border-radius: 27px 0 0 27px;
	padding-right: 12px;
}

.game-answers > li:last-child:before {
	display: none;
}

.game-current-theme {
	position: absolute;
	top: 12px;
	right: -20px;
	width: 140px;
	height: 140px;
	padding: 28px 0;
	z-index: 1;
	font-size: 80px;
	background: linear-gradient(to bottom, rgba(255,181,96,1) 0%,rgba(255,146,10,1) 100%);
	box-shadow: 0px 6px 0 #e07d00;
	border-radius: 70px;
	color: #fff;
	text-align: center;
	line-height: 1;
}

.game-status {
	position: relative;
	padding-bottom: 4px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

.game-mode-heading {
	margin: 0;
	font-size: 24px;
	color: #fff;
}

.game-answers-cover {
	position: absolute;
	top: 72px;
	left: 54px;
	width: 20px;
	height: 80px;
	background: #99CCFE;
	z-index: 1;
	box-shadow: 10px 0 12px #99CCFE;
}

.game-status-item {
	color: rgba(255, 255, 255, 0.9);
	font-size: 24px;
}

.game-status-item.pull-right {
	margin-right: 20px;
}

.game-status-item.pull-left {
	margin-left: 20px;
}

.game-answer-count {
	/*position: absolute;*/
	margin-right: 112px !important;
}

.small {
	font-size: 50%;
}

.game-dialog {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: 30px;
  left: 0;
  top: 0;
	font-size: 24px;
  background-color: rgba(255,255,255,0.9);
}

.answer-candidates {
	padding-left: 0;
	list-style-type: none;
	text-align: center;
	font-size: 32px;
}

.answer-candidates > li {
}

.answer-candidates > li > a {
  display: block;
  border-bottom: 2px solid rgb(255, 204, 102);
  padding: 16px;
  color: #000;
	text-decoration: none;
}

.answer-candidates > li > a:hover {
	background-color: rgba(255, 204, 102, 0.2);
}

.game-dialog-heading {
	font-size: 32px;
}

.game-dialog-close-btn {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  color: #ccc;
  line-height: 1;
  padding: 32px;
  font-size: 32px;
  width: 32px;
  height: 32px;
  box-sizing: content-box;
  text-align: center;
	text-decoration: none;
}

.game-dialog-close-btn:hover {
	color: #aaa;
	text-decoration: none;
}

.answer-result {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 311px;
  font-weight: bold;
  width: 100%;
  text-align: center;
  height: 100%;
  text-shadow: 0px 4px 10px #999;
}

.answer-result.ok {
	color: #0047CC;
}

.answer-result.ng {
	color: #CC001E;
}

#game-finish-scene {
  position: absolute;
	top: 22%;
  width: 100%;
	height: 200px;
  font-size: 200px;
  text-align: center;
  line-height: 1;
  color: #FFA81E;
  text-shadow: 6px 6px 0 #fff;
}

@font-face{
	font-family: "m+1medium";
	src: url("../font/mplus-1p-medium.ttf");
}
